<div class="content">
    <h2>{{title}}</h2>
    <div id="scandtree">
        <div id="input_params" class="open">
            <h4>{{inputs.subtitle}}</h4>

            <ul>
                {{#each inputs.params}}
                    <li class="mode">
                        <label for={{this.name}}>{{this.name}}</label>
                        <input data-parameter={{this.name}}
                            name={{this.name}}
                            id={{this.name}}
                            value={{this.value}}
                            min={{this.min}}
                            max={{this.max}}
                            step={{this.step}}
                            class={{this.cls}}
                            type="number"
                            readonly
                        />
                        <div class="voter">
                            <span class="down"
                                    data-action="change"
                                    data-action-change="down"
                                >&#8722;
                            </span>
                            <span class="up"
                                    data-action="change"
                                    data-action-change="up"
                                >+
                            </span>
                        </div>
                    </li>

                {{/each}}

                <li>
                    <span class="reset lock"
                          data-action="reset"
                    >{{inputs.reset}}
                    </span>
                </li>
            </ul>
        </div>
        <div id="tree_holder"></div>
        <div id="output_params">
            <h4 >{{outputs.subtitle}}</h4>
            <ul>
                {{#each outputs.params}}
                    <li>
                        <label>{{this}}:</label>
                        <span class={{this}}></span>
                    </li>
                {{/each}}
            </ul>
            <div class="piece_width"></div>
        </div>
    </div>
</div>
