<div class="content">
    <h2>{{title}}</h2>

    <div id="scandtree">
        <div id="tree_holder"></div>

        <div id="input_params">
            <h4 data-action="toggle">{{subtitle}}</h4>

            <ul>
                {{#each inputs}}
                    <li class="mode">
                        <label for={{this.name}}>{{this.name}}</label>
                        <input data-parameter={{this.name}}
                               value={{this.value}}
                               id={{this.name}}
                               min={{this.min}}
                               max={{this.max}}
                               name={{this.name}}
                               type="tel"
                               step="1"
                               readonly
                               class="readonly"
                        />
                        <div class="voter">
                            <span class="down"
                                    data-action="change"
                                    data-action-change="down"
                                >&#8722;
                            </span>
                            <span class="up"
                                    data-action="change"
                                    data-action-change="up"
                                >+
                            </span>
                        </div>
                    </li>

                {{/each}}

                <li>
                    <span class="reset lock"
                          data-action="reset"
                    >{{reset}}
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
