<div class="content">
    <h2>{{title}}</h2>
    <div class="desc">{{desc}}</div>

    <ul class="contacts_list">
        {{#each contacts}}
            <li>
                <ul>
                    <li>
                        <h4>{{this.name}}</h4>
                    </li>
                    <li>
                        <a href="{{this.href}}">{{this.value}}</a>
                    </li>
                </ul>
            </li>
        {{/each}}
    </ul>

    <h3>{{subtitle}}</h3>

    <form id="ajax-contact" method="post" action="{{action}}">
        <ul class="input_list">
            {{#each inputs}}
                <li class="input_item">
                    <label for="{{name}}">{{name}}</label>
                    <input type="{{type}}"
                        id="{{name}}"
                        name="{{name}}"
                        placeholder="{{placeholder}}"
                        autocomplete="{{autocomplete}}"
                        required />
                </li>
            {{/each}}
        </ul>

        <div class="textarea_holder">
            <label for="{{textarea.name}}">{{textarea.name}}</label>
            <textarea
                    id="{{textarea.name}}"
                    name="{{textarea.name}}"
                    placeholder="{{textarea.placeholder}}"
                    rows="{{textarea.rows}}"
                    required="required"></textarea>
        </div>
        <div class="order_btn">
            <input type="submit" value="Order a tree" />
        </div>
    </form>
    <div class="form-messages-holder">
        <div id="form-messages"><span></span></div>
    </div>

</div>
