<h3>{{title}}</h3>
<div class="desc">{{desc}}</div>

<div id="ig_stats"></div>

<div class="img_holder">
    <ul>
        {{#each images}}
            <li>
                <a href="images/fulls/{{this.name}}" class="image fit">
                    <img src="images/thumbs/{{this.name}}" title="{{this.title}}" alt="scandinavian tree" />
                </a>
            </li>
        {{/each}}
    </ul>
</div>
