<h2>{{title}}</h2>
<ul class="product_list">
    {{#each products}}
        <li class="product_item">
            <img src="images/{{this.images.src}}" title={{this.images.title}} alt={{this.images.title}} />

            <h3>{{this.subtitle}}</h3>
            <ul class="tree_params">
                {{#each params}}
                    <li>
                        <span>{{this.name}}</span>
                        <span>{{this.size}}</span>
                    </li>
                {{/each}}
            </ul>
        </li>
    {{/each}}
</ul>
